*{
	list-style:none;
	padding: 0;
}
.roundabout-holder{
      height: 400px;
      width: 600px;
      margin: 0 auto;
      margin-left:135px;
}
.roundabout-moveable-item{
	height: 315px;
    width: 420px;
    cursor: pointer;
    background-color: #ccc;
}
.roundabout-in-focus{
	cursor: auto;
}
#videoControl{
	width:420px;
	margin:0 auto;
	margin-top:70px;
	margin-bottom: 20px;
}
.prev, .next{
	display:block;
	-moz-box-shadow: 0 0 3px #000000;
	background-color:#222222;
    border: 1px solid #111111;
    color: #FFF;
    cursor: pointer;
    height: 32px;
    text-align: center;
    width: 32px;
    float:left;
}
.prev{
	background-image:url("../icons/prev.png"); 
	background-repeat: no-repeat;
	background-position: center center;
}
.next{
	background-image:url('../icons/next.png');
	background-repeat: no-repeat;
	background-position: center center;
	margin-left: 352px;
	margin-bottom: 30px;
}
#videoForm{
	display:none;
	clear:both;
	width: 595px;
	background-color:#ccc; 
	margin: 50px auto;
	margin-bottom: 90px;
	position:relative;
	top:40px;
}
#videoForm input{
	color: #4D4D4D;
	font-family: 'arial';
	font-size: 14pt;
	width: 450px;
	height: 35px;
	margin-top: 10px;
	margin-bottom: 5px;
	margin-left:10px; 
	text-align:center;
}
#videoForm .error{
	display:none;
	color:#f00;
	float:left;
	margin-top:5px;
	margin-left:200px
}
#videoForm #subVid{
	cursor: pointer;
	width:100px;
	height:40px;
	background-image:url("../icon/submit_btn.png"); 
	background-repeat: no-repeat;
	background-position: center center;	
	position:relative;
	bottom:8px;
}
#footwrap{
	clear:both;
}

#contentwrapper{
	width: 960px;
	margin: 0 auto;
}
