/* PUFF The Magic Mascot CSS */
/* Brad Bohen */
/* CSS RESET BEGIN */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

a{
	text-decoration: none;
	color: white;
}

/* END OF CSS RESET */

/* Document Wide */

body {
	background-image: url("../img/t3.png");
	font-family:Arial,serif;
}

#wrapper{
	min-height: 100%; 
}

#main{
	overflow:auto;
	padding-bottom: 180px;
}

#contentwrapper {
	width: 960px;
	margin: 0 auto;
	margin-top: 20px;
}

#slider{
	box-shadow: 0px 0px 10px 1px black;
}

.slider-wrapper{
	margin-top: 25px;
	
}

@font-face { font-family: Homestead; src: url('../css/homestead.otf'); }

.clearfix{
	clear: both;
} 

/* Nav Area */

#navwrap{
	width: 100%;
	background-image: url("../img/header_bg.jpg");
	height: 55px;
	border-bottom: 2px solid black;
}

#logowrap{
	width: 960px;
	margin: 0 auto;
}

nav{
	width: 960px;
	margin: 0 auto;
}

nav img{
	float: left;
}

nav ul{
	float: left;
/* 	background-color: black; */
	height: 40px;
	margin-left: 210px;
}

nav ul li{
	float: left;
	padding: 12px;
	padding-top: 23px;
	padding-bottom: 17px;
	letter-spacing: -1px;
	border-right: 1px solid rgba(152,148,148,0.5);
/* 	border-left: 1px solid rgba(152,148,148,0.5); */
	
}

nav ul li a{
	color: white;
	transition: color .25s ease-in-out;
   -moz-transition: color .25s ease-in-out;
   -webkit-transition: color .25s ease-in-out;
}

nav ul li a:hover{
	color: #62BD19;
}

.social{
	margin-top: -3px;
}

#social_f:hover, #social_t:hover{
	background-color: green;
}



#logo{
	position: absolute;
	z-index: 100;
	margin-left: 10px;
	margin-top: 5px;
	width:200px;
	
}

#cta{
	margin-top: 20px;
	clear: both;
	box-shadow: 0px 0px 10px 2px black;
}

#ball{
	position: relative;
	top: -380px;
	left: 223px;
	margin-bottom:-240px
	
}

#tagline{
	float: left;
	width: 960px;
	margin: 0 auto;
	margin-bottom: 20px;
	text-align: center;
	font-size: 24px;
	color: rgba(0,0,0,0.5);
	font-weight: bold;
	background: -webkit-gradient(linear, left top, left bottom, from(#eee), to(#333));
	-webkit-background-clip: text;
 ` -webkit-text-fill-color: transparent;
	
	
}

/* Columns */


#homecontent h2 {
	float: left;
	margin-top: -13px;
	padding-top: 20px;
	padding-bottom: 10px;
	font: 24px Homestead, sans-serif;
	color: white;
	background: url("../img/module_header.png") no-repeat;
	background-position-y: bottom;
	width: 300px;
	text-indent: 60px;
}

#contentheads h2:last-child { 
	padding: 0;	
	margin-right: 0px;
	padding-bottom: 10px;	
}

.column{
	width: 300px;
	height: 400px;
	background-color: #eee;
	background-position-y: 15px;;
	float: left;
	margin-bottom: 35px;
	margin-right: 30px;

}

#yearTracker{
	margin-top: 10px;
	
}

#yearTracker li{
	padding-bottom: 5px;
	padding-top: 5px;
	border-bottom: 1px solid black;	
	width: 300px;
	
}


#columncontent .column:last-child{
	margin-right: 0;
}

#twitterScript{
	margin-top: 10px;
/* 	margin-left: 10px; */
}


/* Footer */

#footwrap{
	position: relative;
	margin-top: -180px;
	height: 180px;
	clear: both;
	background-color: #004696;
}

#footwrap ul{
	width: 940px;
	height: 40px;
	margin: 0 auto;
}

#footwrap ul li{
	float: left;
	padding: 5px;
	padding-top: 30px;
	padding-right: 10px;
	letter-spacing: -1px;
}

#footerlogo{
	position: relative;
	bottom: 25px;
}

.twtr-doc, .twtr-timeline{
	border-radius: 0px !important;
	-webkit-border-radius: 0px;
}



.columnContent{
	font: 15px Georgia, serif;
	color: black;
	background-color: #eee;
	margin-top: 15px;
	height: 375px;
}

/* Twitter Styles */


.tweet,
.query {
	font: 15px Georgia, serif;
	color: black;
	background-color: #eee;
	margin-top: 15px;
}

.tweet_list {
	-webkit-border-radius: 0.5em;
	-moz-border-radius: 0.5em;
	border-radius: 0.5em;
	list-style: none;
	margin: 0;
	padding: 0;
/* 		overflow-y: hidden; */
/* 		background-color: #8ADEE2; */
}
	
.tweet_list li {
	overflow-y: auto;
	overflow-x: hidden;
	padding: 0.5em;
	list-style-type: none;
}

.tweet_list li a {
	color: #62bd19;
}

.tweet_list .tweet_even {
	background-color: rgba(0,0,0,0.2);
/* 			border-bottom: 1px solid black; */
}
.tweet_list .tweet_odd{
/* 			border-bottom: 1px solid black; */
	
}
		
.tweet_list .tweet_avatar {
	padding-right: .5em; float: left;
	display: none;
}
		
.tweet_list .tweet_avatar img {
	vertical-align: middle;
}

/* BIO Page */

#cap1 {
	width: 400px;
	margin-left: 460px;
	line-height: 35px;
	margin-bottom: 140px;
	font-size: 20px;
	color: black;
}
